<div class="navbar">
    <a class="brand" href="#">Login System</a>
      <ul class="nav">
          <li class=""><a href="/">dashboard</a></li>                  
          <li class=""><a href="/login">Login</a></li>                  
          <li class=""><a href="/register">Register</a></li>                  
    </ul>    
</div>