<%- include('./includes/header') %>
<%- include('./includes/nav') %>
    <div class="container">
     <h1>Members Area</h1> <br><br>
     <p>
          Welcome Back , <%= name %> <span></span>
     </p>
    </div>
</body>
</html>