<%- include('./includes/header') %>
<%- include('./includes/nav') %>
    <form action="/register" method="post">
     <h2>Register </h2>
     <div class="">
          <label for="name">Name</label>
          <input type="text" name="name" id="name">
     </div>
     <div class="">
          <label for="email">E-mail</label>
          <input type="email" name="email" id="email">
     </div>
     <div class="">
          <label for="password">Password</label>
          <input type="password" name="password" id="password">
     </div>
     <div class="">
          <button type="submit">Register</button>
     </div>
    </form>
</body>
</html>